/* 980 x 317 */
/* 610 x 293 */

* { border: none; margin: 0; padding: 0; }

/* orientation */

@font-face { font-family: 'Limousine'; src: url('/x/current_theme/fonts/font1.ttf') format('truetype'); }
.colorBrown { color: #934806; }
.colorBlue { color: #7971dc; }
.fontLimo { font-family: 'Limousine', Arial, sans-serif; font-weight: normal; }
.fontGeor { font-family: Georgia; }
.shadow { -moz-box-shadow: 2px 2px 3px #555; -webkit-box-shadow: 2px 2px 3px #555; box-shadow: 2px 2px 3px #555; }

/* HTML typo */

body { background: top center url('/x/current_theme/images/background_1.png'); font-family: Arial; font-size: 13px; color: #555; 
  letter-spacing: 0.5px; line-height: 1.3em; }
a, a:visited { text-decoration: none; color: #7971dc;  font-style: italic; }
a:hover { text-decoration: none; color: #934806; }
h1,h2,h3,h4 { font-family: Georgia; color: #934806; margin-bottom: 1em; }
p,ul,ol { margin-bottom: 1em; }
ul li, ol li { margin-left: 2em; }

.clear { clear: both;}

/* layout */

#OuterWrapper { width: 980px; margin: auto; margin-top: 10px; margin-bottom: 30px; position: relative; }

#Slogan { height: 20px; font-size: 18px; padding: 10px; font-family: Georgia, serif; font-style: italic; text-align: center; 
	text-shadow: #AAA 0px 2px 3px; }

#Marble { height: 317px; background: url('/x/current_theme/images/marble_no_shadow.jpg'); position: relative;}
#Image { border: 2px solid white; width: 610px; height: 293px; position: absolute; top: 10px; left: 10px; }
#Lang { position: absolute; top: 10px; right: 20px; font-size: 12px; }
#Lang a { color: white; }
#Lang img { position: relative; top: 3px; left: -2px; }

#Menu { font-size: 18px; font-family: 'Limousine'; text-transform: uppercase; text-shadow: #555 0px 2px 3px; 
  padding: 12px 0px; text-align: center; letter-spacing: 1px; }
#Menu a { color: black; font-weight: normal; font-style: normal; }

#InnerWrapper { min-height: 200px; }

#LeftColumn, #RightColumn { background: white; }
#LeftColumn { float: left; width: 630px; }
#RightColumn { float: right; width: 330px; }
.inner { border: 2px solid #F6EEE8; margin: 10px; padding: 30px; }

#Footer { text-align: center; margin: 10px 0px 0px 0px; }
#Footer img { position: relative; top: 4px; margin: 0px 10px 0px 10px; }
#Footer p { display: inline; }

/* elastic */

#ElasticControls a { font-family: 'Georgia'; font-size: 13px; font-style: normal; }
#Footer .elasticContentWrapper { display: inline; }
.elasticContentWrapper:hover { background: #D4B9EB !important; }
textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
