<% if Elastic::Context.user %>

	<style>
		#ElasticControls { position: fixed; height: 25px; top: 0px; left: 0px; background: black; width: 100%; 
			padding: 6px 30px 2px 30px; }
		#ElasticControls a { color: white; text-decoration: none; }
		#ElasticControls a:hover { text-decoration: underline; }
		body { position: relative; top: 25px; left: 0px; }
		#ElasticControls  form.button_to, #ElasticControls form.button_to div { display: inline; }
	</style>
	
	<div id="ElasticControls" style="">

		<% if @node %>
			<%= link_to 'Elastic CMS', editor_section_node_path(@section, @node) %>
		<% elsif @section %>
			<%= link_to 'Elastic CMS', editor_section_nodes_path(@section) %>
		<% else %>
			<%= link_to 'Elastic CMS', master_site_path(@site) %>
		<% end %>
		
	</div>

<% end %>