<% link = edit_editor_section_node_path content.node.section_id, content.node_id %>
<div class="elasticContentLink" ondblclick="document.location='<%= link %>'" title="<%= 'cms_frontend.note.dblclick_edit'.tt %>"><%=raw rendered %></div>