<div>
	<h4><%= content_config.title %></h4>

	<%= form_helper.text_area 'text', :value=>(content ? content.text : nil), 
  	:rows=>content_config.meta['rows'], :cols=>content_config.meta['cols'] %> <br/><br/>
</div>
