<h4><%= content_config.title %></h4>

<% cfg = content_config.meta['config_file'] %>
<% fpath = File.join Elastic::Context.site.home_dir, cfg %>

<% if not cfg.blank? and File.exists? fpath %>

	<%= form_helper.text_area 'text', :value=>(content ? content.text : nil), 
		:rows=>content_config.meta['rows'], :cols=>content_config.meta['cols'], :class=>'tinymce' %> 
	
	<%= render :file=>fpath %>
<% else %>

  <%=werror "TinyMCE config file '#{cfg}' do not exist." %>

<% end %>
	
	<br/><br/>
