<% f = gallery_meta %>

<% for v in Elastic::Gallery::VARIANTS %>
	<tr>
		<th> <%=v %> </th>
		<td> 
		  <%= f.text_field "meta[#{v}][w]", :value=>@item.meta[v]['w'], :size=>3, :class=>'' %> 
		  <small>x</small>
		  <%= f.text_field "meta[#{v}][h]", :value=>@item.meta[v]['h'], :size=>3, :class=>'' %>
		  <small>magick:</small>
		  <%= f.text_field "meta[#{v}][p]", :value=>@item.meta[v]['p'], :size=>30, :class=>'' %>
		</td>
	</tr>
<% end %>