<%
	header ||= false
	item = node_list_item unless header
%>

<% if header %>

	<tr>
		 <th style="width: 1em;" class=""> <%= wake_click_order_by 'id' %> </th>
		 <th style="width: 12em;" class=""> <%= wake_click_order_by 'title' %> </th>
		 <th style="width: 12em;" class=""> <%= wake_click_order_by 'is_published', 'Pub?' %> </th>
		 <th style="width: 12em;" class=""> <%= wake_click_order_by 'position', 'Pos' %> </th>
		 <th style="width: 10em;"> </th>
	</tr>

<% else %>

	<tr id="<%=dom_id item %>" class="hover-parent hilite pointer">
			
			<td <%=wo item %> class="lo-visible"> <%=whl item.id %> </td>				
			<td <%=wo item %> class="hi-visible"> 
			  <%=raw '&nbsp;&nbsp&nbsp;'*level %> <%=whl item.title %>
			  <% if item.title.blank? %><span class="em80">key: <%= item.key%></span><% end %>
			</td>				
			<td <%=wo item %> class="hi-visible"> 
			  <%=link_to (item.is_published? ? ico(:check_alt, :green) : ico(:x_alt, :red)), 
  			     toggle_published_admin_section_node_path(@section, item), :method=>:post %>
			</td>				
			<td <%=wo item %> class="hi-visible"> 
				<%= item.position %>
			</td>				
			
			<td class="hover-child right"> 			
					<%= link_to ico(:arrow_up), move_higher_admin_section_node_path(@section,item), :method=>:post %>
					<%= link_to ico(:arrow_down), move_lower_admin_section_node_path(@section,item), :method=>:post %>
			    <%= wake_button_destroy item %>
			</td>
	</tr>

<% end %>

