<div style="background: cyan;">
	This is _partial.liquid. 
	<br/>
	We are in: <b>{{ site.title }}</b>. 
	<br/>
	Parameters: the_str: <b>{{ the_str }}</b> the_int <b>{{ the_int }}</b> the_object.title: <b>{{ the_object.title }}</b>
</div>