<!DOCTYPE html>
<html>
	<head>
		<title>LAYOUT DEMO</title>
		
		{{ head }}
		
	</head>
	<body>

		<h1>This is a custom layout</h1>
		<h4>used instead of Rails /views/layouts/elastic/html5.html.erb</h4>
			
		<div style="border: 4px solid red;">
			
			{{ body }}
			
			{{ controls }}
		</div>
	</body>
<html>