<!DOCTYPE html>
<html>
	<head>
		<title>LAYOUT DEMO</title>
		
		{{ head }}
		
		<link type="text/css" rel="Stylesheet" media="all" href="/x/current_theme/hello_world.css"/>		
		
	</head>
	<body style="background: #EDFFEF;">

		<h1>This is a custom layout</h1>
		<h4>used instead of Rails /views/layouts/elastic/html5.html.erb</h4>
			
		<div style="border: 1px dotted green; padding: 10px 25px; background: white;">
			
			{{ body }}
			
			{{ controls }}
		</div>
	</body>
<html>