<h1>PHP post-processing</h1>

<p> This file has been post-procesed with PHP. </p>
<p> Site title: <b>{{ site.title }}</b>. </p>

<h3>This is insecure feauture !!!</h3>
	
<pre>
<? phpinfo(); ?>
</pre>

