<!DOCTYPE html>
<html>
<head>
  <title>Elastic</title>
  <%= stylesheet_link_tag    "elastic/application", :media => "all" %>
  <%= javascript_include_tag "elastic/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
