<%
	header ||= false
	level ||= false
	item = node_list_item unless header
%>

<% if header %>

	<tr>
		 <th style="width: 1em;" class=""> <%= wake_click_order_by 'id' %> </th>
		 <th style="width: 1em;" class=""> <%= wake_click_order_by 'is_star', ico(:star) %> </th>
		 <% if level %>
	 	   <th style="width: 9em;" class=""> <%= wake_click_order_by 'is_published', ico(:check_alt) %> </th>
     <% else %>
	 	   <th style="width: 2em;" class=""> <%= wake_click_order_by 'is_published', ico(:check_alt) %> </th>
		 <% end %>
		 <th style="" class=""> <%= wake_click_order_by 'title' %> </th>
		 <% if Elastic::Context.user.master? %>
		  	<th style="" class=""> <%= wake_click_order_by 'key' %> </th>
		 <% end %>
		 <th style="width: 9em;" class=""> <%= wake_click_order_by 'updated_at' %> </th>
		 <!-- <th style="width: 1em;" class=""> <%#= wake_click_order_by 'position', 'Pos' %> </th> -->
		 <th style="width: 5em;"> </th>
		 <th style="width: 5em;"> </th>
	</tr>

<% else %>

	<tr id="<%=dom_id item %>" class="hover-parent hilite pointer">
			
			<td <%=wo item %> class="lo-visible"> <%=whl item.id %></td>				
			<td <%=wo item %> class=""> 
			  <%=link_to (item.is_star? ? ico(:star, :black) : ico(:star, :lightgray)), 
				     toggle_star_editor_section_node_path(@section, item), :method=>:post %>
			</td>				
			
			<% if level %>
				<td <%=wo item %> class=""> 
				  <%=link_to (item.is_published? ? ico(:check_alt, :lightgray) : ico(:x_alt, :red)), 
	  			     toggle_published_editor_section_node_path(@section, item), :method=>:post %>
				</td>				
			<% else %>
				<td <%=wo item %> class=""> <%=l item.published_at, :format=>:short %> </td>
			<% end %>
			
			<td <%=wo item %> class="hi-visible"> 
			  <%=raw '&nbsp;&nbsp&nbsp;'*level if level %> 
			  <span class="draggable droppable" toid="<%=item.id%>"><%=whl item.title_dynamic %></span>			
			</td>				
			<% if Elastic::Context.user.master? %>
				<td <%=wo item %> class="lo-visible b"> <%= item.key %></td>
			<% end %>
			
			<td <%=wo item %> class=""> <%=l item.updated_at, :format=>:short %></td>
			<!-- <td <%=wo item %> class="hi-visible"> 
				<%#= item.position %>
			</td> -->
			<td>
			  <%=link_to (item.is_pin? ? ico(:pin, :blue) : ico(:pin, :lightgray)), 
				     toggle_pin_editor_section_node_path(@section, item), :method=>:post %>
			  <%=link_to (item.is_locked? ? ico(:lock_fill, :black) : ico(:lock_fill, :lightgray)), 
				     toggle_locked_editor_section_node_path(@section, item), :method=>:post %>				
				  <%#=link_to (item.is_hidden? ? ico(:umbrella, :black) : ico(:umbrella, :lightgray)), 
					     toggle_hidden_editor_section_node_path(@section, item), :method=>:post %>
			</td>
			
			<td class="hover-child right">
				  <% if level %>
						<%= link_to ico(:arrow_up), move_higher_editor_section_node_path(@section,item), :method=>:post %>
						<%= link_to ico(:arrow_down), move_lower_editor_section_node_path(@section,item), :method=>:post %>
					<% end %>
			    <%= wake_button_destroy item %>
			</td>
	</tr>

<% end %>

