<%
	header ||= false
	level ||= false
	item = node_list_item unless header
%>

<% if header %>

	<tr>
		 <th style="width: 1em;" class=""> <%= wake_click_order_by 'is_star', ico(:star) %> </th>
		 <% if level %>
	 	   <th style="width: 9em;" class=""> <%= wake_click_order_by 'is_published', ico(:check_alt) %> </th>
     <% else %>
	 	   <th style="width: 2em;" class=""> <%= wake_click_order_by 'is_published', ico(:check_alt) %> </th>
		 <% end %>
		 <th style="" class=""> <%= wake_click_order_by 'title' %> </th>
		 <th title="Characteristics"> ? </th>
		 <%# if Elastic::Context.user.master? %>
		  	<th style="" class=""> <%= wake_click_order_by 'key' %> </th>
		 <%# end %>
		 <th style="width: 9em;" class=""> <%= wake_click_order_by 'updated_at' %> </th>
		 <!-- <th style="width: 1em;" class=""> <%#= wake_click_order_by 'position', 'Pos' %> </th> -->
		 <th style="width: 5em;" class="i"> W </th>
		 <th style="width: 7em;" class="i"> E </th>
	</tr>

<% else %>

	<tr id="<%=dom_id item %>" class="hover-parent hilite pointer">
			<% woitem = wo item %>	
			<td class=""> 
			  <%=link_to (item.is_star? ? ico(:star, :black) : ico(:star, :lightgray)), 
				     toggle_star_editor_section_node_path(@section, item), :method=>:post %>
			</td>				
			
			<% if level %>
				<td class=""> 
				  <%=link_to (item.is_published? ? ico(:check_alt, :lightgray) : ico(:x_alt, :red)), 
	  			     toggle_published_editor_section_node_path(@section, item), :method=>:post %>
				</td>				
			<% else %>
				<td <%=wo item %> class=""> <%=l item.published_at, :format=>:short %> </td>
			<% end %>
			
			<td <%= woitem %> class="hi-visible"> 
			  <%=raw '&nbsp;&nbsp&nbsp;'*level if level %> 
				<%=whl item.title_dynamic %>
			</td>				
			<td>
				<%= item.position %>
				<%= ico(:pen, :red, 'All contens empty?') if item.contents_blank? %>
				<%= ico(:reload, :blue, 'Redirection.') unless item.redirect.blank? %>
				<%= ico(:document_fill, :green, 'Published is not recent edit.') if item.published_version %>
			</td>
			
			<%# if Elastic::Context.user.master? %>
				<td <%= woitem %> class="lo-visible b"> <%= item.key %></td>
			<%# end %>
			
			<td class=""> <%=l item.updated_at, :format=>:short %></td>
			<td>
				<% if Elastic::Context.user.master? %>
				  <%=link_to (item.is_pin? ? ico(:pin, :blue) : ico(:pin, :lightgray)), 
					     toggle_pin_editor_section_node_path(@section, item), :method=>:post %>
				  <%=link_to (item.is_locked? ? ico(:lock_fill, :black) : ico(:lock_fill, :lightgray)), 
					     toggle_locked_editor_section_node_path(@section, item), :method=>:post %>				
				<% end %>
				  <%#=link_to (item.is_hidden? ? ico(:umbrella, :black) : ico(:umbrella, :lightgray)), 
					     toggle_hidden_editor_section_node_path(@section, item), :method=>:post %>
			</td>
			
			<td class="hover-child left">					
				  <% if level %>					
			  		<span class="draggable droppable" toid="<%=item.id%>"> <%= ico(:move_vertical_alt2) %> </span>
						&nbsp;
						<%#= link_to ico(:arrow_up), move_higher_editor_section_node_path(@section,item), :method=>:post %>
						<%#= link_to ico(:arrow_down), move_lower_editor_section_node_path(@section,item), :method=>:post %>
					<% end %>
					<%= link_to ico(:plus), new_editor_section_node_path(:node=>{:parent_id=>item.id}) %>
					<% if Elastic::Context.user.master? or !@section.is_locked? %>
			    	<%= wake_button_destroy item %>
					<% end %>
			</td>
	</tr>

<% end %>

