<script>
$(document).ready(function(){
	
	// var fixHelper = function(e, ui) {
	// 	ui.children().each(function() {
	// 		$(this).width($(this).width());
	// 	});
	// 	return ui;
	// };
	
	$('.draggable').draggable( {revert: true} );
   $(".droppable").droppable({
     drop: function(event, ui) { document.location='nodes/'+$(ui.draggable).attr('toid')+'/drop/'+$(this).attr('toid'); }
   });

// 	$(".sortable tbody").sortable({
// 		helper: fixHelper,
// 		update: function(event, ui) {
// //			document.location='nodes/'+$(ui.sortable).attr('id')+'/drop/'+$(this).attr('toid');
// //			document.location='nodes/'+$(this).attr('id')+'/drop/'+$(this).attr('toid');
// //			alert( $(this).sortable('toArray').toString() );
// 			alert( ui.position.toString() );
// 		}
// 	}).disableSelection();	

});
</script>

<div class="wakeThemeCleanForm">
	<% if Elastic::Context.user.master? or !@section.is_locked? %>
		<%= link_to ico(:plus)+' CREATE NEW', new_editor_section_node_path(@section), :class=>'button' %>
	<% end %>
	
	
	<small><%= link_to 'RESTORE', restore_editor_section_nodes_path(@section) %></small>
	
	<% if Elastic::Context.user.master? %>
	  <%= link_to ico(:cog), master_section_path(@section), :class=>'button', :title=>'Configure section.' %>
	<% end %>
</div>

<br/>

<table class="wakeThemeList sortable" style="width: 100%;">
	<thead>
		<tr>
			<td class="left" colspan="100" style="border: none;">
				<%= render :partial=>'/wake/list_header' %>
			</td>
		</tr>
	
		<tr><td colspan="100" style="height: 4px; border: none;"></td></td>
		<tr><td colspan="100" style="height: 4px; "></td></td>
		
		<tr>
			<td class="center" colspan="100" style="border: none;"> 
				<%#= render :partial=>'employee_filter' %>
			</td>
		</tr>
	
		<tr><td colspan="100" style="height: 4px; border: none;"></td></td>			
					
		<%= render :partial=>'node_list_item', :locals=>{:header=>true, :blog=>(@section.form=='blog')} %>
		
		<tr><td colspan="100" style="height: 4px;"></td></tr>
	</thead>

	<tbody>

	<% if @section.form == 'blog' %>

		<%= render :partial=>'node_list_item', :collection=>@items, :locals=>{:blog=>true} %>	

	<% else %>
		<% 
		  #@all_nodes #= @section.nodes.all
		  stack = @items.select{ |x| x.is_root? }.map{ |x| [x,0] }
		  while not stack.empty?
				node, level = stack.pop
		%>
		<%= render :partial=>'node_list_item', :object=>node, :locals=>{:level=>level} %>
		<%
				@items.each{ |x| stack.push [x,level+1] if x.parent_id==node.id } #unless @folding[node.id]
			end
		%>
		
	<% end %>

	</tbody>	
	<tfoot>
		<tr><td colspan="100" style="height: 6px;"></td></tr>
		<tr><td class="center" colspan="100"> <%= paginate @items %> </td> </tr>
	</tfoot>

</table>
