<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<div class="wakeThemeCleanForm">
	<%= form_for @item, :url=>url do |f| %>

		<% unless @item.new_record? %>
		  <%=link_to (@item.is_published? ? ico(:check_alt, :green) : ico(:x_alt, :red)), 
			     toggle_published_editor_section_node_path(@section, @item), :method=>:post %>
		  <%=link_to (@item.is_star? ? ico(:star, :black) : ico(:star, :lightgray)), 
			     toggle_star_editor_section_node_path(@section, @item), :method=>:post %>
		  <%=link_to (@item.is_locked? ? ico(:lock_fill, :black) : ico(:lock_fill, :lightgray)), 
			     toggle_locked_editor_section_node_path(@section, @item), :method=>:post %>
		<% end %>

	  <%= f.text_field 'title', :value=>@item.title, :size=>40, :class=>'title' %>
	
		<%= f.submit 'SAVE', :class=>'button' %> 
		
		<% unless @item.new_record? %>
			<%= link_to 'NEW', url_for(:action=>'new', :section_id=>@section.id, :node=>{:parent_id=>@item.id}), :class=>'button' %>
			<%= link_to 'DUPLICATE', '', :class=>'button' %>
			<%= link_to 'META', '', :class=>'button' %>
			<%= link_to 'RESTORE', '#', :class=>'button', :onclick=>'$("#Versions").toggle("blind", { direction: "vertical" }, 500);' %> 
			<%= link_to 'DESTROY', editor_section_node_path(@section,@node), :method=>:delete, :class=>'button' %>
			
			
		<% end %>

		&nbsp;&nbsp; <small>Parent:</small> 
		<% if @section.localization == 'free' %>
		  <% choices = [[nil,nil]]+@section.nodes.localized.all.reject{ |x| x==@item }.map{ |x| [x.title,x.id] } %>
		<% else %>
	  	<% choices = [[nil,nil]]+@section.nodes.all.reject{ |x| x==@item }.map{ |x| [x.title,x.id] } %>
		<% end %>
		<%= f.select 'parent_id', choices, {}, :style=>"width: 16em;" %>

		<br/>
		
		<% if @section.localization == 'free' %>
	  	<small>http://<%= Elastic::Context.site.host %>/<%= f.text_field 'locale', :size=>1 %>/show/</small><%= f.text_field 'key', :class=>'' %>
	  <% else %>
	  	<small>http://<%= Elastic::Context.site.host %>/<%= Elastic::Context.locale %>/show/</small><%= f.text_field 'key', :class=>'' %>
    <% end %>
    
    &rarr;

		<%= f.text_field 'redirect', :size=>16, :class=>'' %>

		<br/><br/>
		
	
		<div id="Versions" style="<%= 'display: none;' unless @version %>">
			<h3>Restore version from:</h3>
			<%#= link_to 'RECENT', edit_editor_section_node_path(@section,@node) %>
		  <% day=Date.today+1; for v in @item.versions.reverse %>
				<% if day != v.created_at.to_date %>
			  	<% day = v.created_at.to_date %>
				  <%= l(day, :format=>:long) %>: 
				<% end %>
	
		    <%= link_to v.created_at.strftime('%H:%M'), reify_editor_section_node_path(@section,@item,v), 
		     :class=>"#{'active' if v==@version}" %>
		  <% end %>
	  	<br/><br/>
	  </div>
	
		
		<% for cc in @section.content_configs.published.all %>
		  <h4><%= cc.title %></h4>
		  <% c = @item.content_getter cc %>
	
			<%= f.fields_for "contents_setter[#{cc.id}]" do |f2| %>
				<%= f2.text_area 'text', :value=>(c ? c.text : nil), :rows=>5, :cols=>60 %>
			<% end %>
		
		<% end %>
	
		<br/><br/>
		
		<hr/>

	  Position: <%= f.text_field 'position', :class=>'title' %><br/>


	<% end %>


	<%#=debug @item.section_id %>
</div>