<!-- tinymce -->
<script type="text/javascript" src="/assets/elastic/tiny_mce/jquery.tinymce.js"></script>


<% url = @item.new_record? ? {:action=>"create"} : {:action=>"update",:id=>@item.id } %>

<div class="wakeThemeCleanForm">
	<%= form_for @item, :url=>url, :html => {:multipart => true, :id=>"TheForm"} do |f| %>

		<% unless @item.new_record? %>
		  <%=link_to (@item.is_published? ? ico(:check_alt, :green) : ico(:x_alt, :red)), 
			     toggle_published_editor_section_node_path(@section, @item), :method=>:post %>
		  <%=link_to (@item.is_star? ? ico(:star, :black) : ico(:star, :lightgray)), 
			     toggle_star_editor_section_node_path(@section, @item), :method=>:post %>
		<% end %>

	  <%= f.text_field 'title_dynamic', :value=>@item.title_dynamic, :size=>40, :class=>'title' %>

		<% if !@item.new_record? and Elastic::Context.user.master? %>
	  	<%=link_to (@item.is_pin? ? ico(:pin, :blue) : ico(:pin, :lightgray)), 
		     toggle_pin_editor_section_node_path(@section, @item), :method=>:post %>
	  	<%=link_to (@item.is_locked? ? ico(:lock_fill, :black) : ico(:lock_fill, :lightgray)), 
		     toggle_locked_editor_section_node_path(@section, @item), :method=>:post %>
			<%= link_to ico(:cog), master_section_path(@section), :class=>'button', :title=>"Configure section." %>
		<% end %>
	
	
		<%= f.submit 'SAVE', :class=>'button' %> 
		
		<% unless @item.new_record? %>
		  <% new_url = url_for(:action=>'new', :section_id=>@section.id, :node=>(@section.form == 'tree' ? {:parent_id=>@item.id} : nil))%>
		
			<%= link_to 'NEW', new_url, :class=>'button' %>
			
			<%= link_to 'CLONE', '', :class=>'button' %>
			<%= link_to 'META', '', :class=>'button' %>
			<%= link_to 'RESTORE', '#', :class=>'button', :onclick=>'$("#Versions").toggle("blind", { direction: "vertical" }, 500);' %> 
			<%= link_to 'DESTROY', editor_section_node_path(@section,@node), :method=>:delete, :class=>'button' %>
			
		<% end %>

		&nbsp;&nbsp; 
		

		<br/>
		
		<% if @section.localization == 'free' %>
	  	<small>http://<%= Elastic::Context.site.host %>/<%= f.text_field 'locale', :size=>1 %>/show/</small><%= f.text_field 'key', :class=>'' %>
	  <% else %>
	  	<small>http://<%= Elastic::Context.site.host %>/<%= Elastic::Context.locale %>/show/</small><%= f.text_field 'key', :class=>'' %>
    <% end %>
    
    &rarr;

		<%= f.text_field 'redirect', :size=>16, :class=>'' %>
		
		&nbsp;&nbsp;&nbsp;
		
		<% if @section.form == 'tree' %>
			<small>Parent:</small> 
		
			<% if @section.localization == 'free' %>
			  <% choices = [[nil,nil]]+@section.nodes.localized.all.reject{ |x| x==@item }.map{ |x| [x.title,x.id] } %>
			<% else %>
		  	<% choices = [[nil,nil]]+@section.nodes.all.reject{ |x| x==@item }.map{ |x| [x.title,x.id] } %>
			<% end %>
			<%= f.select 'parent_id', choices, {}, :style=>"width: 16em;" %>
		<% elsif @section.form == 'blog' %>
		  <small>Published at:</small>
		  <%= f.text_field 'published_at', :value=>@item.published_at||Time.now, :size=>20 %>
		<% end %>
		

		<br/><br/><br/>

		<% if @item.published_version %>
	  	<%= link_to 'REIFY PUBLISHED VERSION FROM '+l(@item.published_version.created_at, :format=>:short), 
	       reify_editor_section_node_path(@section,@node,@item.published_version), :class=>'button' %>
	    &nbsp;&nbsp;
		  <%= link_to 'PUBLISH THE RECENT EDIT', publish_recent_editor_section_node_path(@section,@item), 
		      :method=>:post, :class=>'button' %>
		  <br/><br/>
		<% end %>
		
		<%#= debug @item.published_version %>
		
	
		<div id="Versions" style="<%= 'display: none;' unless @version %>">
			<% if not @item.published_version %>
				<h3>Restore version from:</h3>
			<% end %>
			<%#= link_to 'RECENT', edit_editor_section_node_path(@section,@node) %>			
		  <% day=Date.today+1; for v in @item.versions.reverse %>
				<% if day != v.created_at.to_date %>
			  	<% day = v.created_at.to_date %>
				  <%= l(day, :format=>:long) %>: 
				<% end %>
	
				<% if @item.published_version_id == v.id %> <%= ico(:arrow_right,:green) %><% end %>
		    <%= link_to v.created_at.strftime('%H:%M'), reify_editor_section_node_path(@section,@item,v), 
		     :class=>"#{'active' if v==@version}" %>
				<% if @item.published_version_id == v.id %><%= ico(:arrow_left,:green) %> <% end %>
		  <% end %>
	  	<br/><br/>
			<%= link_to 'PUBLISH SELECTED VERSION', publish_version_editor_section_node_path(@section,@node,@version),
			  :method=>:post, :class=>'button' if @version and @version.id != @item.published_version_id  %>
			
			 <!--  -->
	
	  </div>
	
		
		<% for cc in @section.content_configs.published.all %>
		  <% c = @item.content_getter cc %>
			<%=wdbg "cc.id: #{cc ? cc.id : 'N/A'} c.id: #{c ? c.id : 'N/A'}" %>
			<% if not cc %>
		  	<%=werror "Content config is not present."%>
			<%# elsif not c %>
			  <%#=werror "Content is not present."%>
			<% else %>
		
				<%= f.fields_for "contents_setter[#{cc.id}]" do |f2| %>
					<%#= f2.text_area 'text', :value=>(c ? c.text : nil), :rows=>5, :cols=>60 %>
					<div>
					  <%= render :partial=>'elastic/editor/nodes/content_forms/'+cc.form,
					        :locals=>{:form_helper=>f2, :content_config=>cc, :content=>c||Elastic::Content.new} %>
				  </div>
				<% end %>		
			<% end %>
		<% end %>


	<% end %>


</div>


<script>
	$("input, select, textarea").change(function(){
		window.onbeforeunload = function() { 
		 	return "<%= 'cms_backend.leave_page_warning'.tt %>";
		}
	});

	$('#TheForm').submit(function() {
	   window.onbeforeunload = null;
	});
</script>